/**
京东页面
 */

@jd-red: #d8505c;
@less-grey: #666;
@white: #fff;
@lesswhite: #e0e0e0;

body {
  background-color: #f5f5f5;
}

.jd-layout {
  max-width: 640px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;

  /**
京东头部
 */
  .jd-header {
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    z-index: 999;

    /**
    京东头部的内容区域
     */
    .jd-header-content {
      max-width: 640px;
      min-width: 300px;
      margin: 0 auto;
      height: 40px;
      background: rgba(212, 32, 0, 0.8);
      position: relative;

      /**
    京东头部的logo和搜索框
     */
      .icon-logo {
        display: block;
        background-position: 0 -103px;
        width: 60px;
        height: 36px;
        position: absolute;
        left: 10px;
        top: 4px;
      }

      .search {
        width: 100%;
        //background: yellow;
        padding: 0 54px 0 75px;
        height: 40px;
        position: relative;

        input {
          border-radius: 15px;
          width: 100%;
          height: 30px;
          margin: 5px 0;
          text-indent: 2.5em;

        }

        .icon-search {
          display: block;
          width: 20px;
          height: 20px;
          background-position: -60px -109px;
          position: absolute;
          top: 10px;
          left: 85px;
        }

      }

      .login {

        width: 50px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        color: #FFF;
        position: absolute;
        right: 0;
        top: 0;
      }

    }

  }

  .jd-banner {

    min-width: 300px;
    max-width: 640px;
    overflow: hidden;
    position: relative;
    z-index: 10;

    ul.clearfix {
      width: 800%;

      li {
        float: left;
        width: 12.5%;

        img {
          width: 100%;

        }
      }
    }

    ul.circle {
      position: absolute;
      left: 50%;
      margin-left: -56px;
      bottom: 15px;
      height: 4px;

      li {
        width: 6px;
        height: 6px;
        margin: 0 4px;
        float: left;
        background: transparent;
        border: 1px solid #FFF;
        border-radius: 50%;

      }
    }

  }

  .jd-nav {
    border-bottom: 1px solid #e0e0e0;
    background-color: #FFF;

    ul {
      padding: 0 3.75%;
      padding-top: 11px;

      li {
        float: left;
        width: 25%;

        a {
          display: block;
          height: 69px;
          width: 100%;
          text-align: center;

          img {
            width: 40px;
            height: 40px;

          }

          p {
            font-size: 12px;
            color: #666;
            margin-bottom: 6px;

          }
        }
      }

    }

  }

  main {
    width: 100%;
    padding: 0 5px;

    /**
    公共样式 product-top和product-bottom
     */
    .product-top {
      height: 32px;
      position: relative;

      h3 {
        font-size: 15px;
        font-weight: inherit;
        line-height: 32px;
        padding-left: 15px;
        color: #666;

      }
      h3::before {
        content: '';
        width: 3px;
        height: 12px;
        line-height: 32px;
        display: block;
        position: absolute;
        left: 7px;
        top: 10px;
        background-color: #d8505c;

      }

    }

    /*
    京东秒杀
    */
    .jd-product {
      margin-top: 8px;
      box-shadow: 0 0 1px 1px #e0e0e0;
      background-color: #fff;

      .secondkill-left {

        .logo-clock {
          background: url("../img/seckill-icon.png") no-repeat;
          display: block;
          width: 16px;
          height: 20px;
          background-size: 16px 20px;
          margin: 6px 0px 0 7px;
          float: left;

        }
        .secondkil-title {
          display: block;
          float: left;
          line-height: 32px;
          font-size: 15px;
          font-weight: 400;
          margin-left: 5px;
          color: @jd-red;

        }

        .countdown {
          height: 32px;
          float: left;
          line-height: 32px;
          padding-left: 5px;
          font-size: 0px;

          .time {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: #333;
            margin-top: 8px;
            margin-left: 2px;
            color: #FFF;
            line-height: 15px;
            font-size: 12px;
            text-align: center;
          }

          .str {

            display: inline-block;
            width: 8px;
            height: 15px;
            background-color: #FFF;
            margin-top: 8px;
            color: #000;
            line-height: 15px;
            font-size: 12px;
            text-align: center;

          }
        }

      }

      .secondkill-right {
        float: right;
        line-height: 32px;
        margin-right: 5px;
      }

      .product-bottom {
        ul {
          padding: 10px 0;
          width: 100%;

          li {
            a {
              display: block;
            }
            float: left;
            width: 33.33333%;

            img {
              width: 66.66%;
              display: block;
              margin: 0 auto;
            }
            .img-box {
              border-right: 1px solid #e0e0e0;
            }
          }

          text-align: center;
          font-size: 12px;
          .newprice {
            color: @jd-red;

          }

          .oldprice {
            color: @less-grey;

          }

        }

      }

    }

    /**
    热门商品公共样式
     */
    .hot {

      .product-bottom {
        width: 100%;
        border-top: 1px solid @lesswhite;

        .p_right {
          float: right;
          width: 50%;
        }
        .p_left {
          float: left;
          width: 50%;

        }
      }

      .b_left {
        border-left: 1px solid @lesswhite;
      }

      .b_right {
        border-right: 1px solid @lesswhite;
      }

      .b_bottom {
        border-bottom: 1px solid @lesswhite;
      }

      img {
        display: block;
        width: 100%;
      }

    }

  }

}